@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007AF3;
}

body {
  background: white;
  margin: 0;
  font-family: 'Poppins';
  padding:0;
}