@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007AF3;
}

body {
  background: #F2F2F2;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

#videoPlayer{
	/*margin: auto;*/
	/*display:flex;*/
	margin:0;
	padding-left: 40%;
	padding-right: 5%;
	padding-top: 10%;
	align-content : center;
}

